* {
  font-family: Helvetica;
  font-style: normal;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.container,
.container-fluid {
  padding: 0;
}

.navbar {
  padding-top: 2%;
  padding-bottom: 2%;
  background: #f1f3ff;
}

.navbar-brand {
  background: #0d28a6;
  width: 100px;
  height: 34px;
}

.nav-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000;
}

.nav-link:hover {
  font-weight: 700;
  color: #000;
}

.cta-btn {
  font-weight: 700;
  color: #fff;
  background: #5cb85f;
  border-radius: 0.1rem;
  border: none;
  transition: all ease-in-out 0.2s;
}

.cta-btn:hover {
  color: #fff;
  transform: scale(1.02);
}

.home {
  background: #f1f3ff;
}

.ps-10 {
  padding-left: 10%;
}

.home h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}

.home p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.home .cta-btn {
  padding: 0.8rem;
  width: fit-content;
}

.home-image img {
  min-height: 100%;
  min-width: 100%;
}
